.fa.fa-graduation-cap.fa-3x.circle {
  color: #eeeeee;
  padding: 10px;
  border-radius: 99%;
  background-color: #333333;
}
.awards {
  margin-top: 30px;
  padding-top: 15px;
}
.awards .heading {
  margin-bottom: 10px;
}
.awards .subheading {
  font-size: 18px;
}
.awards .subheading-secondary {
  font-size: 16px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.location {
  padding-bottom: 10px;
  margin-bottom: 15px;
}
