.secondary {
  opacity: 0.54;
}
.heading {
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: 30px;
}
body {
  background-color: #eeeeee;
  font-family: #333333;
}
/* Styles for mastehead*/
.masthead {
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;
}
.masthead .email {
  font-family: 'Lato', sans-serif;
  font-size: 12pt;
}
h1.name {
  font-size: 48px;
}
h1.name a,
.menu:hover,
.menu a:focus {
  color: #333333;
  text-decoration: none;
}
h2.city {
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: 30px;
  margin-top: 0px;
}
.job {
  opacity: 0.54;
  margin-top: 50px;
  line-height: 1.2;
}
/* styles for menu */
.menu {
  margin-top: 30px;
}
.menu a,
.menu a:hover,
.menu a:focus {
  color: #333333;
}
.menu a:hover,
.menu a:focus {
  text-decoration: none;
  border-bottom: 2px solid black;
}
.menu i {
  display: block;
  margin-top: 20px;
}
.icons {
  float: left;
  margin-right: 20px;
}
.menu-links h3 {
  float: left;
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
  letter-spacing: 3px;
  font-size: 30px;
}
.icons a,
.icons a:hover,
.icons a:focus {
  color: #333333;
  text-decoration: none;
}
a.active {
  border-bottom: 2px solid black;
}
/* styles for content */
.feature {
  margin-top: 100px;
}
.profile {
  font-family: 'Lato', sans-serif;
}
.profile p {
  border-top: 2px solid black;
  padding-top: 10px;
  font-size: 16px;
}
.fa.fa-briefcase.fa-3x.circle {
  color: #eeeeee;
  padding: 15px;
  border-radius: 99%;
  background-color: #333333;
}
.feature .heading {
  padding-top: 15px;
}
.feature-heading {
  border-top: 2px solid black;
}
.feature-main {
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
}
.subheading {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}
.subheading-secondary {
  font-size: 18px;
  opacity: 0.54;
}
.location {
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.list {
  font-size: 16px;
  margin-top: 10px;
  position: relative;
  left: -1em;
}
.list ul {
  list-style: disc outside none;
  margin-left: 0;
  padding-left: 1em;
}
.list ul li {
  line-height: 1.75;
}
