@grey200: #eeeeee;

@black: #333;

@raleway: 'Raleway', sans-serif;

@lato: 'Lato', sans-serif;


.secondary {
	opacity: 0.54;
}

.heading {
	font-family: @raleway;
	font-variant: small-caps;
	letter-spacing: 3px;
	font-size: 30px;
}

body {
	background-color: @grey200;
	font-family: @black;
}

/* Styles for mastehead*/


.masthead {
	font-family: @raleway;
	margin-top: 50px;
}

.masthead .email {
	font-family: @lato;
	font-size: 12pt;
}

h1.name {
	font-size: 48px;
}

h1.name a, .menu:hover, .menu a:focus {
	color: @black;
	text-decoration: none;
}

h2.city {
	.heading;
	margin-top: 0px;
}

.job {
	.secondary;
	margin-top: 50px;
	line-height: 1.2;
}

/* styles for menu */

.menu {
	margin-top: 30px;
}

.menu-col {
	float: left;
}

.menu-cell {
	height: 42px;
}

.menu-col.menu-links {
	margin-left: 20px;
	.heading;
}

.menu-links h3 a {
	line-height: 1.5;
}

.menu a, .menu a:hover, .menu a:focus {
	color: @black;
}

.menu a:hover, .menu a:focus {
	text-decoration: none;
	border-bottom: 2px solid black;
}

.menu i {
	display: block;
	margin-top: 20px;
}

.icons a, .icons a:hover, .icons a:focus {
	color: @black;
	text-decoration: none;
}

a.active {
	border-bottom: 2px solid black;
}

/* styles for content */

.feature {
	margin-top: 50px;
}

.profile {
	font-family: @lato;
}

.profile p {
	border-top: 2px solid black;
	padding-top: 10px;
	font-size: 16px;
}

.feature .heading {
	padding-top: 15px;
}

.feature-heading {
	border-bottom: 2px solid black;
}

.feature-main {
	font-family: @lato;
	margin-top: 20px;
}

.subheading {
	font-family: @raleway;
	font-size: 24px;
}

.subheading-secondary {
	font-size: 14px;
	.secondary;
}

.location {
	font-size: 14px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}

.list {
	font-size: 16px;
	margin-top: 10px;
} 

.list ul {
	list-style: disc outside none;
	margin-left: 0;
	padding-left: 1em;
}

.list ul li {
	line-height: 1.75;
}

/* styles for footer */

.footer a,
.footer a:hover,
.footer a:focus {
  color: #2979ff;
  font-family: @lato;
}

.footer a:hover,
.footer a:focus {
  text-decoration: none;
  border-bottom: 1px solid #2979ff;
}